<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% block title %}
      Task Manager
    {% endblock %}
  </title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<div style="display: flex; gap: 50px; padding: 32px">
  <div>
    {% block sidebar %}
      {% include "includes/sidebar.html" %}
    {% endblock %}
  </div>
  <div>
    {% block content %}
      Main Page
    {% endblock %}
  </div>
</div>
</body>
</html>
